* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
::-webkit-scrollbar{
  display: none;
}
html{
  margin: 0px;
  padding: 0px;
  scroll-behavior:smooth;
}
nav {
    height: 70px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
    background-color: #cccccc;
}
.container{
  margin: 0;
  padding: 0;
}
.button {
  border-radius: 25px;
  background-color:black;
  margin: 0px 4px 0px 4px;
  width: 120px;
}
.button a {
  color: white;
  font-size:medium;
}
.button:hover{
  border-radius: 25px;
  border-color: black;
  background-color:white;
  margin: 0px 4px 0px 4px;
  width: 120px;
  cursor: pointer;
}
.salutation {
    width: 100px;
}
.pages a:hover {
    border-bottom: 2px solid black;
    color: black;
}
.pages a {
  font-weight:500;
}
.footer {
  background-color: black;
  color:gray;
  margin-bottom: 0;
  padding-top: 25px;
}
.col i {
  color: orange;
}
.col p span {
  font-size: small;
}
.col ul li a{
  text-decoration: none;
  font-size: small;
  color: gray;
}
.col ul li {
  list-style-type: none;
  text-align:start;
}
.insideFooter{
  background-color: rgb(34, 32, 32);
  padding-top: 20px;
}
.insideFooter i {
  padding-bottom: 20px;
  padding-right: 5px;
}
.insideFooter p{
  font-size: small;
  margin: 0px;
}
.contact {
  margin-top: 20px;
}
#bannerHeader{
  font-size: 82.5px;
  font-weight: bold;
  line-height: 100px;
  text-align: center;
}
.banner{
  padding-top: 150px;
  padding-bottom: 50px;
  background: #cccccc;
}
#supportingText{
  width: 100%;
  text-align: center;
  font-weight: normal;
  font-size: 10;
  margin: 0px 0px 30px auto;
}
.banner button {
  width: 200px;
}
#overview{
  text-align: center;
  margin: 50px auto 100px auto;
  font-weight: bold;
  border: 2px solid orange;
  padding: 5px;
  border-radius: 20px;
  width: 150px;
}
#overview:hover{
  border: none;
  cursor: pointer;
  background-color: #b5cafd;
  color: black;
}
#contact-me{
  background-color: #e7e7e7;
  padding-top: 50px;
  padding-bottom: 80px;
}
#service{
  background-color: #cccccc;
  padding: 50px 100px 80px 100px;
}
#services{
  text-align: center;
  margin: 20px auto 80px auto;
  font-weight: bold;
  border: 2px solid orange;
  padding: 5px;
  border-radius: 20px;
  width: 150px;
}
#services:hover{
  background-color: #b5cafd;
  border: none;
  cursor: pointer;
}
#contact{
  text-align: center;
  margin: 20px auto 50px auto;
  font-weight: bold;
  border: 2px solid orange;
  padding: 5px;
  border-radius: 20px;
  width: 150px;
}
#contact:hover{
  background-color: #b5cafd;
  border: none;
  cursor: pointer;
}
.contact_section h6{
  text-align: center;
}
.servicesPart h6{
  text-align: center;
}
.aboutMe{
  padding-left: 100px;
  padding-right: 100px;
  border: none;
  border-radius: 0px;
  padding-bottom: 80px;
  background-color:#e7e7e7;
}
.aboutMe h6{
  color: orange;
}
.aboutMe h5{
  font-size:30px;
}
#border_below{
  border-bottom: 2px solid orange;
  padding-bottom: 3px;
}
.details-card:hover{
  cursor: pointer;
  transition: all 1s ease-in;
  transform: rotateY(360deg);
  background-color: whitesmoke;
}
.cardHeading{
  margin-bottom: 25px;
}
.insideContainer{
  border: 1px solid gray;
  border-radius: 5px;
  border-color: orange;
  font-size: small;
  padding: 10px;
  margin: 30px 0px 30px auto;
}
#send_email{
  width: 200px;
  align-items: center;
}
.container-fluid{
  padding-right: 100px !important;
  padding-left: 80px !important;
}
.salutation i{
  color: green;
  font-size: x-small;
}
.dropdown-menu a {
  font-size: small;
}
